body {
  background-color: hsl(0, 0%, 95%);
  display: flex;
  place-items: center;
  height: 100vh;
  justify-content: center;
}

.main_container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 95%);
  flex-direction: row;
}

.main_container div {
  height: 400px;
  width: 200px;
}

.flex1,
.flex2,
.flex3 {
  width: 300px;
  height: 400px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 15px;
}

.flex1 {
  background-color: hsl(31, 77%, 52%);
}

.sedan,
.suv,
.luxury {
  font-family: Big Shoulders Display;
  font-size: 35px;
  color: hsl(0, 0%, 95%);
  font-weight: 400;
}

.para {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: Lexend Deca;
  font-size: 15px;
  padding-bottom: 40px;
}

.flex2 {
  background-color: hsl(184, 100%, 22%);
}

.flex3 {
  background-color: hsl(179, 100%, 13%);
}

.but {
  border-radius: 25px;
  background-color: inherit;
  border-color: hsla(0, 0%, 100%, 0.75);
  color: hsl(0, 0%, 95%);
  padding: 10px;
  font-size: 10px;
  font-family: Lexend Deca;
}

.learn {
  font-size: 10px;
}
.but:hover {
  cursor: pointer;
}
